{
  "presets": [
    "@babel/preset-react",
    "@babel/preset-flow"
  ],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-class-properties"
  ],
  "env": {
    "react-production": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "modules": false,
            "forceAllTransforms": true
          }
        ]
      ],
      "plugins": [
        "@babel/plugin-transform-runtime"
      ]
    },
    "node": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "current"
            }
          }
        ]
      ],

      "plugins": ["dynamic-import-node"]
    }
  }
}
